    .postcard-container {
    width: 100%;
    max-width: 560px;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    font-family: Sen, sans-serif;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 392px; 
    top: 270px;
    }

    .postcard-card-container {
    width: 100%;
    max-width: 530px;
    background: #ffffff;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #cdced0;
    font-family: Sen, sans-serif;
    justify-content: center;
    }

    .postcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .postcard-user-left {
    display: flex;
    gap: 10px;
    align-items: center;
    }

    .postcard-avatar {
    width: 45px;
    height: 45px;
    border-radius: 999px;
    }

    .postcard-username {
    font-weight: 600;
    font-size: 15px;
    }


    .postcard-yearcourse,
    .postcard-subinfo {
    font-size: 12px;
    color: gray;
    }

    .postcard-bookmark-btn {
    background: none;
    border: none;
    cursor: pointer;
    }

    .postcard-bookmark {
    width: 16px;
    opacity: 0.4;
    }

    .postcard-bookmark.active {
    opacity: 1;
    }

    .postcard-description {
    margin: 14px 0;
    font-size: 15px;
    }

    .postcard-tag {
    background: #f3f5f7;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    color: #4b5563;
    margin-bottom: 10px;
    }

    .postcard-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    }

    .postcard-price {
    background: #2d46a8;
    color: #ffca28;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 6px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Sen, sans-serif;
    }

    .postcard-item-title {
    font-weight: 600;
    margin-bottom: 14px;
    }

    .postcard-actions {
    display: flex;
    gap: 12px;
    margin-bottom: 6px;
    }

    .postcard-actions-inline {
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    margin-bottom: 6px;
    }

    .postcard-request-btn {
    width: 67%;
    height: 38px;
    background: #2d46a8;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-family: Sen, sans-serif;
    }

    .postcard-chat-btn {
    width: 30%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: white;
    color: #3b5bdb;
    border: 2px solid #d0d4e0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-family: Sen, sans-serif;
    }

    .postcard-count-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    }

    .count-item {
    display: flex;
    align-items: center;
    gap: 6px;
    }

    .count-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    }


    .postcard-divider {
    border: none;
    border-top: 1px solid #ddd;
    }

    .postcard-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0;
    }

    .footer-action-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #444;
    }

    .footer-action-btn:hover {
    opacity: 0.8;
    }

    .postcard-subnote {
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
    color: gray;
    }

    .footer-btn {
    width: 20px;
    }

    .postcard-footer-left,
    .postcard-footer-center,
    .postcard-footer-comments {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    }

    .postcard-footer-comments {
    cursor: pointer;
    }
