.header-bar {
  width: 100%;
  height: 100px;
  background: #35408E;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.header-bar img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
