.pdf-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #E5E7EB;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  width: 800px;
}

.pdf-row {
  display: flex;
  gap: 12px;
  width: 100%;
}

.pdf-row > div {
  display: flex;
  flex-direction: column;
}

.pdf-row-left {
  flex: 2;
}

.pdf-row-right {
  flex: 1;
  margin-left: 40px;
}

.pdf-label {
  font-weight: 700;
  margin-bottom: 4px;
}

.pdf-input {
  width: 100%;
  height: 33px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  padding: 5px 10px;
}

.pdf-input-small {
  width: 90%;
  height: 33px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  padding: 5px 10px;
}

.pdf-textarea {
  width: 97%;
  height: 90px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  padding: 10px;
  margin-top: 4px;
}
