.filter-btn-container {
  display: flex;
  gap: 12px;
  position: absolute;
  left: 392px;
  top: 220px;
}

.filter-btn {
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid #d9d9d9;
  background: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Sen", sans-serif;
}

.filter-btn:hover {
  background: #f4f4f4;
}

.filter-btn.active {
  background: #2e3fa8;
  color: white;
  border-color: #2e3fa8;
}

.filter-btn.active:hover {
  background: #2e3fa8; /* stays same when active */
}
