.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F9FAFB;
}

.signup-card {
  display: flex;
  width: 70%;
  max-width: 1200px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.signup-form-container {
  flex: 1;
  background: white;
  padding: 3rem;
}

.signup-form-container h1 {
  font-size: 24px;
  font-weight: 700;
}

.signup-form-container p {
  font-size: 14px;
  color: #6B7280;
  margin-bottom: 2rem;
}

.signup-form-container .error-message {
  color: #B91C1C;
  margin-bottom: 1rem;
}

.signup-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form-container label {
  font-weight: 700;
}

.signup-form-container input[type="text"],
.signup-form-container input[type="password"],
.signup-form-container select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #9CA3AF;
}

.signup-form-container .helper-text {
  font-size: 14px;
  color: #9CA3AF;
}

.signup-form-container .checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.signup-form-container button {
  background: #35408E;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.signup-form-container button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.signup-form-container .signin-link {
  margin-top: 1rem;
  font-size: 14px;
  color: #35408E;
  font-weight: 700;
}

/* input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  border-color: #35408E;
  box-shadow: 0 0 6px rgba(53, 64, 142, 0.3);
  transform: translateY(-2px);
  outline: none;
  transition: all 0.2s ease;
}

/* Submit button hover */
/* button:hover:not(:disabled) {
  background: #2e3575;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
 */ 
